{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ user.username|title }} Profile
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'styles/profile.css' %}" />
{% endblock %}

{% comment %}https://miro.medium.com/v2/resize:fit:1400/1*UDuwM3CZovb8K1lUP2HVag.png{% endcomment %}

{% block content %}
  <div class="profile-intro-wrapper">
    <div>
      <img src="{{ profile.image.url }}" alt="profile-picture" class="profile-picture-item" />
    </div>
    <div class="content">
      <div class="control fullname">
        <div>
          <h6>Name Surname</h6>
          {% if profile.first_name or profile.last_name %}
            <h4>{{ profile.first_name|title }} {{ profile.last_name|title }}</h4>
          {% else %}
            <h4>{{ profile.user.username|title }}</h4>
          {% endif %}
        </div>

        {% if request.user.is_authenticated %}
          {% if profile.id == request.user.profile.id %}
            <a href="{% url 'update_profile_page' %}" class="btn btn-outline-secondary">Update Profile</a>
          {% endif %}
        {% endif %}
      </div>
      <div class="control">
        <h6>Email</h6>
        {% if profile.user.email %}
          <h4 class="mail"><a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a></h4>
        {% else %}
          <h4>---</h4>
        {% endif %}
      </div>
      <div class="control">
        <h6>Bio</h6>
        {% if profile.bio %}
          <h4 class="bio">{{ profile.bio }}</h4>
        {% else %}
          <h4>---</h4>
        {% endif %}
      </div>
      <div class="control age-gender">
        <div class="left">
          <h6>
            Age:{% if profile.age %}
              {{ profile.age }}
            {% else %}
              ---
            {% endif %}
          </h6>
        </div>
        <div class="right">
          <h6>
            Gender:{% if profile.gender %}
              {{ profile.gender|title }}
            {% else %}
              ---
            {% endif %}
          </h6>
        </div>
      </div>
    </div>
  </div>
  {% if posts|length > 0 %}
    <div class="profile-post-items-wrapper">
      {% for post in posts %}
        <div class="profile-post-item">
          <a href="{% url 'view-post' post.id %}" class="btn view">
            <p class="post-title">{{ post.title }}</p>
            <p class="title-content">{{ post.content }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script>
    let allContents = document.querySelectorAll('.title-content')
    
    function shorten(given_string) {
      let short_version = given_string.slice(0, 35)
      return short_version + ' ...'
    }
    allContents.forEach((content) => {
      let contentText = content.textContent
      content.textContent = shorten(contentText)
    })
  </script>
{% endblock %}
