{% extends 'base.html' %}
{% load static %}

{% block title %}
  Update {{ user.username|title }} Profile
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
{% endblock  %}

{% block content %}
  <div class="intro-wrapper">
    <h2>
      <img src="{{user.profile.image.url}}" alt="profile-picture" class="profile-picture">
      {{ user.username|title }} Profile
    </h2>
    <a href="{% url 'profile_page' %}" class="btn btn-outline-secondary">
      View Profile
    </a>
  </div>

  <hr style="margin: 20px 0;">

  {% include 'form_snippets.html' with form=form %}
{% endblock %}
