* {
    transition: 0.5s;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
article {
    background: linear-gradient(to right, orangered, green);
    padding: 20px;
    color: snow;
    border-radius: 10px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    color: green;
}
.btn.btn-success {
    border: 2px solid green;
}
.btn.btn-success:hover {
    background-color: green;
    color: snow;
}
