@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2px;
    margin: 20px 0;
    height: 80vh;
    overflow: auto;
    position: relative;
    padding: 20px;
}
.post-item {
    background: linear-gradient(to right, #caefd7, #f5bfd7, #abc9e9);
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    height: 400px;
    text-align: center;
    overflow: hidden;
}
.post-item h2 {
    font-size: 1.3em;
    font-weight: bold;
    padding: 0 5px;
}
.post-item .info img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}
.post-item .content {
    height: 100px;
    overflow: hidden;
    font-style: italic;
    text-align: left;
    padding: 5px 15px;
}
.post-item .info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 15px;
    font-weight: bold;
    overflow: hidden;
    }
.post-item .info a.view-auth-profile {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #555;
}
.post-item .info:hover a.view-auth-profile {
    text-decoration: underline;
}
.post-item .action-btns {
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    background: rgba(0,0,0, 0.1);
    opacity: 0;
}
/* .posts:hover .post-item:not(:hover) {
    filter: blur(2px);
} */
.post-item:hover {
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
    transform: scale(1.03);
    z-index: 999;
}
.post-item.view:hover {
    transform: scale(1);
    box-shadow: none;
}
.post-item:hover .action-btns {
    opacity: 1;
}
.post-item .action-btns .btn {
    border-radius: 0;
    font-weight: bold;
    color: #555;
    transition: 0.5s;   
}
.post-item .action-btns .btn:not(:last-child) {
    border-right: 1px solid rgba(0,0,0, 0.2);
}

.post-item .action-btns .btn:hover {color:snow}
.post-item .action-btns .view:hover {
    background: rgba(0,0,200, 0.5);
}
.post-item .action-btns .edit:hover {
    background: rgba(0,200,0, 0.5);
}
.post-item .action-btns .delete:hover {
    background: rgba(200,0,0, 0.5);
}
.post h2 {
    font-size: 1.6em;
    font-family: 'Sofia', sans-serif;
    margin-bottom: 10px;
}

.posts::-webkit-scrollbar {
    display: none;
}
