@import "../../assets/styles/settings";

.blog-item {
    padding: 100px 200px;

    .blog-nav {
        margin-bottom: 50px;
    }
    h1,
    img {
        margin: 5px 0;
    }
    p {
        margin: 10px 0;
        color: lightgray;
    }
    .blog-author span {
        margin-right: 20px;
    }

    @media (max-width: $large-screen) {
        padding: 100px 150px;
    }
    @media (max-width: $medium-screen) {
        padding: 100px;
    }
    @media (max-width: $small-screen) {
        padding: 20px;
    }
}
