@import "../../assets/styles/settings";

#blog-wrapper {
    padding: 100px;
    .content {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 25px;
        font-family: cursive;

        *:not(.warning-btn) {
            margin-bottom: 20px;
        }
        .left,
        .right {
            padding: 20px;
        }
        .warning-btn {
            border: none;
            outline: none;
            background-color: transparent;
            color: #ff6600;
            padding: 10px 20px;
            &:hover {
                box-shadow: 1px 1px 10px #ff660050;
            }
            &:active {
                transform: scale(0.8);
            }
        }
        p {
            color: darkgray;
            font-size: 0.75em;
        }
    }
}
