<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Create a new announcement</h1>

    <form method="POST">
      {% csrf_token %}
      {% comment %} Cross site request forgery token is a security measure to prevent {% endcomment %}
      {{ form.as_p }}
      <input type="submit" value="Submit" />
    </form>
  </body>

  <style>
    form {
      display: grid;
      gap: 20px;
      padding: 20px;
    }
    input[type="submit"] {
      padding: 10px 20px;
      border: none;
      outline: none;
      background-color: orangered;
      color: snow;
      border-radius: 10px;
      cursor: pointer;
    }
    input, textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
    }
    input:focus, textarea:focus {
      border-color: orangered;
    }
  </style>
</html>
