{% extends 'base.html' %}
{% load static %}

{% block title %}
  My Web Site
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'styles/landing.css' %}" />
{% endblock %}

{% block content %}
  <h1>My Web Site</h1>
  <div class="header">
    <h3>Announcements</h3>
    <div class="all-links">
      <a class="btn btn-success" href="{% url 'products' %}">
        <img src="{% static 'imgs/car.jpg' %}" width="100%" height="50">
      </a>

      <a class="btn btn-success" href="{% url 'create_announcement' %}">Create a new announcement</a>
      <a class="btn btn-success" href="{% url 'home' %}">Posts</a>
      <a class="btn btn-success" href="{% url 'products' %}">Products</a>
    </div>
  </div>

  <main>
    {% for item in all_announcements %}
      <article>
        <h2>{{ item.title }}</h2>
        <p>{{ item.content }}</p>
        <br />
        <p>{{ item.date_posted|date:'Y-m-dS' }}</p>
      </article>
    {% endfor %}
  </main>
  <hr />

  {% verbatim %}
  {% if item_for_if %}
    1
  {% else %}
    None
  {% endif %}
  {% endverbatim %}
{% endblock %}
