$textBoxBackground: #d4d4d4;
$logoWidth: 80px;
$logoPadding: 8px;
$headerHeight: 60px;
$navigationPos: 150px;

$colors: (
        "blue-light": #add8e6,
        "blue-lighter": #d1e7ee,

        "green-light": #20ad85,
        "green-dark": #55917f,

        "yellow": #f6e05e,
        "warning": #ff8000,

        "wrong": #ef2662,
        "right": #2bcf95,
        "success": #47984b
);
