.about-page {
    padding: 20px;
    background-color: lightgray;

    hr {
        margin: 20px 0;
    }

    button {
        padding: 10px 20px;
        background-color: gray;
        color: snow;
        border-radius: 10px;
        border: none;
        margin: 0 5px;
        &:hover {
            background-color: green;
            cursor: pointer;
        }
    }
}
