@import "../../assets/styles/settings";

#about-wrapper {
    .about {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 50px;
        margin-top: 50px;

        .left {
            img {
                filter: grayscale(100%);
            }
        }

        .right {
            p {
                font-family: cursive;
                line-height: 30px;
                color: darkgray;
            }

            button {
                @extend %warning-btn;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    margin-right: 10px;
                }
            }
        }
    }

    .values {
        margin-top: 50px;

        .values-content {
            margin-top: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;

            .value-item {
                display: flex;

                div {
                    h2 {
                        margin-bottom: 30px;
                    }
                    p {
                        color: darkgray;
                        font-family: cursive;
                        line-height: 25px;
                    }
                    padding-top: 45px;
                }
            }
        }
    }
}
