{% extends 'base.html' %}
{% load static %}

{% block title %}
  Posts
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'styles/posts.css' %}" />
{% endblock %}

{% block content %}
  <div class="intro">
    <h1>Posts</h1>
  </div>

  <hr />
  <div class="posts">
    {% for post in posts %}
      <div class="post-item">
        <div class="info">
          <p>
            <img src="{{ post.get_owner_pic }}" class="author-image" alt="post-author-image" />
            <a class="nav-item view-auth-profile" href="{% url 'post_auth_profile_page' post.author.id %}">{{ post.author }}</a>
          </p>
          <p>{{ post.date_posted|date }}</p>
        </div>

        <h2 class="title">{{ post.title }}</h2>

        <p class="content">{{ post.content }}</p>

        {% if request.user.is_authenticated %}
          {% if request.user == post.author %}
            <div class="action-btns">
              <a href="{% url 'view-post' post.id %}" class="btn view">View</a>
              <a href="{% url 'update-post' post.id %}" class="btn edit">Edit</a>
              <span class="btn delete" data-post-id="{{ post.id }}">Delete</span>
            </div>
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <hr />
{% endblock %}

{% block scripts %}
  <script>
    const deleteBtns = document.querySelectorAll('.btn.delete')
    const URL = `{% url 'delete-post' 9999999999 %}`
    
    function confirmDeletion(post_ID) {
      if (confirm("Are you sure you want to delete this post?")) {
        let location_to_send = URL.replace("9999999999", post_ID)
        location.href = location_to_send
      } else {
        return
      }
    }
    
    deleteBtns.forEach((btn) => {
      let postID = btn.getAttribute('data-post-id')
      btn.addEventListener('click', confirmDeletion.bind(null, postID))
    })
  </script>
{% endblock %}
