{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}
  <h1>Posts</h1>
  <a href="{% url 'create-post' %}" class="btn btn-primary">Create post</a>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Created at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
        <tr>
          <td>{{ post.title }}</td>
          <td>{{ post.author }}</td>
          <td>{{ post.date_posted }}</td>
          <td>
            <a href="#" class="btn btn-primary">View</a>
            <a href="#" class="btn btn-warning">Edit</a>
            <a href="#" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
