{% extends 'base.html' %}
{% load static %}

{% block title %}
  Posts
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'styles/posts.css' %}" />
{% endblock %}

{% block content %}
  <div class="intro">
    <h1>Posts</h1>
  </div>

  <hr />
  <div class="posts">
    {% for post in posts %}
      <div class="post-item">
        <div class="info">
          <p>
            <img src="{{ post.get_owner_pic }}" class="author-image" alt="post-author-image" />
            {{ post.author }}
          </p>
          <p>{{ post.date_posted|date }}</p>
        </div>

        <h2 class="title">{{ post.title }}</h2>

        <p class="content">{{ post.content }}</p>

        {% if request.user.is_authenticated %}
          {% if request.user == post.author %}
            <div class="action-btns">
              <a href="{% url 'view-post' post.id %}" class="btn view">View</a>
              <a href="{% url 'update-post' post.id %}" class="btn edit">Edit</a>
              <a href="{% url 'delete-post' post.id %}" class="btn delete">Delete</a>
            </div>
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <hr />
{% endblock %}
