{% extends 'base.html' %}
{% load static %}

{% block title %}
  Post item
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'styles/posts.css' %}" />
{% endblock %}

{% block content %}
  <div class="intro">
    <h1>Post item</h1>
    {% if request.user == post.author %}
      <div>
        <a href="{% url 'update-post' post.id %}" class="btn btn-outline-primary edit">Edit</a>
        <a href="#" class="btn btn-outline-danger delete">Delete</a>
      </div>
    {% endif %}
  </div>

  <hr />
  <div class="post-item view">
    <div class="info">
      <p>
        <img src="{{ post.get_owner_pic }}" class="author-image" alt="post-author-image" />
        <a class="nav-item view-auth-profile" href="{% url 'post_auth_profile_page' post.author.id %}">{{ post.author }}</a>
      </p>
      <p>{{ post.date_posted|date }}</p>
    </div>

    <h2 class="title">{{ post.title }}</h2>

    <p class="content">{{ post.content }}</p>
  </div>
  <hr />
{% endblock %}
