@import "../../Assets/style/_main.scss";
nav {
    overflow: hidden;
    background-color: #333;
    margin-bottom: 20px;

    #logo {
        float: left;
    }
    #theme-link {
        margin: 8px 20px;
        border-radius: 30px;
    }
    a {
        float: right;
        text-decoration: none;
        transition: 0.2s;

        &:link {
            color: snow;
        }
        &:visited {
            color: #eee;
        }
        &:hover:not(#theme-link, #logo) {
            background-color: red;
        }
        &:active:not(#theme-link, #logo) {
            transform: scale(0.6);
            background-color: darkred;
        }
    }
    a:not(#theme-link) {
        padding: 10px 20px;
    }
}
.dark-theme {
    background-color: #333;
    color: snow;
}
.light-theme {
    background-color: lightgray;
    a {
        &:link {
            color: black;
        }
        &:visited {
            color: rgb(31, 0, 53);
        }
        &:hover:not(#theme-link, #logo) {
            background-color: #333;
            color: snow;
        }
        &:active:not(#theme-link, #logo) {
            transform: scale(0.6);
            background-color: #111;
            color: snow;
        }
    }
}

#outlet {
    min-height: 500px;
}
footer {
    background: linear-gradient(to bottom, rgb(0, 255, 0, 0.1), rgb(0, 255, 0, 0.3), rgb(0, 255, 0, 0.4));
    padding: 20px;
    min-height: 180px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;

    ul {
        list-style-type: none;

        li {
            text-align: left;
            a {
                transition: 0.1s;
                text-decoration: none;
                color: map-get($colors, "right");
                font-family: sans-serif;
                display: inline-block;
                padding: 3px 6px;
                &:hover {
                    color: snow;
                    padding: 3px 6px;
                    text-decoration: underline solid 1px snow;
                }
            }
        }
    }
    .right {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    #go-to-top-icon {
        font-size: 40px;
        cursor: pointer;
    }
}
