.footer-wrapper {
    .footer-top {
        display: grid;
        grid-template-columns: 2fr 3fr 1fr;
        gap: 20px;
        padding: 50px 0;

        .footer-heading {
            padding: 20px 50px;
        }

        .footer-links {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 50px;

            a {
                display: block;
                text-decoration: none;
                color: gray;
                padding: 10px 0;
            }
        }
    }
}
