@import "../../assets/styles/settings";

.footer-wrapper {
    .footer-top {
        display: grid;
        grid-template-columns: 2fr 3fr 1fr;
        gap: 20px;
        padding: 50px 0;
        background-color: $dark;

        .footer-heading {
            padding: 20px 50px;
        }

        .footer-links {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 50px;

            a {
                display: block;
                text-decoration: none;
                color: gray;
                padding: 10px 0;
            }
        }

        @media (max-width: $medium-screen) {
            grid-template-columns: 3fr 2fr;
            gap: 10px;

            .footer-links {
                flex-direction: column;
            }

            .social-media {
                padding-left: 50px;
            }
        }
    }
    .footer-bottom {
        background-color: $dark-darker;
        padding: 50px;

        p {
            font-size: 0.8em;
            color: gray;
            margin: 30px 0;
        }
    }
}
