[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
django = "*"
django-bootstrap5 = "*"
pillow = "*"
django-allauth = "*"
requests = "*"
pyjwt = "*"
cryptography = "*"
python-decouple = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "*"
