@import "../../Assets/style/_main.scss";

form {
    width: 70%;
    margin: 10px auto;
    background: linear-gradient(to right bottom, #00b09b, #96c93d);
    border-radius: 10px;
    padding: 20px;

    #error-field {
        color: red;
        font-style: italic;
        font-family: cursive;
        font-size: 15px;
    }

    input,
    button {
        outline: none;
        border: none;
        padding: 8px 16px;
        background-color: #00b055;
        border-radius: 5px;
        color: snow;
        margin: 5px;
    }
    button:hover {
        background-color: map-get($colors, "blue-light");
        color: darkcyan;
    }
    input {
        text-align: left;
        &::placeholder {
            color: map-get($colors, "blue-light");
        }
    }
    label {
        font-size: 1.5em;
        font-variant: small-caps;
        color: #00b055;
        display: block;
        font-family: cursive;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;

    .card {
        width: 100%;
        border-radius: 5px;
        background: linear-gradient(to right bottom, #00b09b, #96c93d);
        color: map-get($colors, "blue-lighter");
        padding: 10px;
    }
}
@media screen and (max-width: 768px) {
    // screen is for all devices and max-width is for the width of the screen
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 550px) {
    // screen is for all devices and max-width is for the width of the screen
    .cards {
        grid-template-columns: 1fr;
    }
}

.page-item .page-link {
    background: linear-gradient(to right bottom, #00b09b, #96c93d);
    color: snow;
    transition: 0.2s;
    &:active {
        outline: 5px solid #00b09b80;
    }
    &:hover:not(.active .page-link) {
        background: linear-gradient(to right bottom, #00ffe1, #a2ff00);
        color: snow;
        transform: scale(1.1);
        z-index: 999;
        border: solid 1px #a2ff00;
    }
}
.disabled .page-link {
    background: linear-gradient(to right bottom, #00b09b50, #96c93d50);
}
.active .page-link {
    background: linear-gradient(to right bottom, #00ffe1, #a2ff00);
}
