@import "../../../assets/styles/settings";

.carousel-section {
    box-shadow: 0 50px 100px -50px $warning-t;
    position: relative;

    .inner-carousel {
        position: absolute;
        z-index: 5;
        max-width: 500px;
        min-width: 300px;
        top: 25%;
        left: 10%;

        h1 {
            font-size: 2em;
            font-family: "Montserrat", sans-serif;
        }
        p {
            margin: 20px 0;
        }
    }

    .control-dots {
        li.dot {
            background-color: $warning;
            box-shadow:
                1px 1px 10px 1px $warning-t,
                -1px -1px 10px 1px $warning-t;
            transform: scale(1.5);
        }

        span.indicator {
            color: gray;
            margin: 0 5px;
            padding: 5px;
            font-size: 1.2em;
            font-weight: bold;
            font-family: sans-serif;

            &.selected {
                color: $warning;
                border-bottom: 2px solid $warning;
                padding: 1px 2px;
                font-size: 1.5em;
            }
            &:hover:not(.selected) {
                cursor: pointer;
                color: lightgray;
            }
        }
    }

    .slider {
        .slide {
            .c-slide-wrapper {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 50px;
                padding: 50px;
                margin: 20px 0;

                img {
                    width: 100%;
                    height: 300px;
                }
            }
        }
    }
}
