@import "../../../assets/styles/settings";

.carousel-section {
    box-shadow: 0 50px 100px -50px $warning-t;
    position: relative;

    .inner-carousel {
        position: absolute;
        z-index: 5;
        max-width: 500px;
        min-width: 300px;
        top: 25%;
        left: 10%;

        h1 {
            font-size: 2em;
            font-family: "Montserrat", sans-serif;
        }
        p {
            margin: 20px 0;
        }
    }

    .control-dots {
        li.dot {
            background-color: $warning;
            box-shadow:
                1px 1px 10px 1px $warning-t,
                -1px -1px 10px 1px $warning-t;
            transform: scale(1.5);
        }
    }
}
