<footer>
  <ul>
    <li>
      <img width="109" height="18" alt="BuzzFeed" nitro-lazy-src="https://cdn-aboak.nitrocdn.com/QJsLnWfsWAiuukSIMowyVEHtotvSQZoR/assets/images/optimized/rev-c4fcaa8/www.slenderkitchen.com/sites/default/themes/open_kitchen/files/as-seen/buzzfeed.svg" class="buzzfeed lazyloaded" decoding="async" src="https://cdn-aboak.nitrocdn.com/QJsLnWfsWAiuukSIMowyVEHtotvSQZoR/assets/images/optimized/rev-c4fcaa8/www.slenderkitchen.com/sites/default/themes/open_kitchen/files/as-seen/buzzfeed.svg" />
    </li> <li>
      <img width="51" height="20" alt="AOL" nitro-lazy-src="https://cdn-aboak.nitrocdn.com/QJsLnWfsWAiuukSIMowyVEHtotvSQZoR/assets/images/optimized/rev-c4fcaa8/www.slenderkitchen.com/sites/default/themes/open_kitchen/files/as-seen/aol.svg" class="aol lazyloaded" decoding="async" src="https://cdn-aboak.nitrocdn.com/QJsLnWfsWAiuukSIMowyVEHtotvSQZoR/assets/images/optimized/rev-c4fcaa8/www.slenderkitchen.com/sites/default/themes/open_kitchen/files/as-seen/aol.svg" />
    </li> <li>
      <img width="142" height="25" alt="CookingLight" nitro-lazy-src="https://cdn-aboak.nitrocdn.com/QJsLnWfsWAiuukSIMowyVEHtotvSQZoR/assets/images/optimized/rev-c4fcaa8/www.slenderkitchen.com/sites/default/themes/open_kitchen/files/as-seen/cookinglight.svg" class="cookinglight lazyloaded" decoding="async" src="https://cdn-aboak.nitrocdn.com/QJsLnWfsWAiuukSIMowyVEHtotvSQZoR/assets/images/optimized/rev-c4fcaa8/www.slenderkitchen.com/sites/default/themes/open_kitchen/files/as-seen/cookinglight.svg" />
    </li> <li>
      <img width="106" height="22" alt="Glamour" nitro-lazy-src="https://cdn-aboak.nitrocdn.com/QJsLnWfsWAiuukSIMowyVEHtotvSQZoR/assets/images/optimized/rev-c4fcaa8/www.slenderkitchen.com/sites/default/themes/open_kitchen/files/as-seen/glamour.svg" class="glamour lazyloaded" decoding="async" src="https://cdn-aboak.nitrocdn.com/QJsLnWfsWAiuukSIMowyVEHtotvSQZoR/assets/images/optimized/rev-c4fcaa8/www.slenderkitchen.com/sites/default/themes/open_kitchen/files/as-seen/glamour.svg" />
    </li> <li>
      <img width="89" height="24" alt="Greatist" nitro-lazy-src="https://cdn-aboak.nitrocdn.com/QJsLnWfsWAiuukSIMowyVEHtotvSQZoR/assets/images/optimized/rev-c4fcaa8/www.slenderkitchen.com/sites/default/themes/open_kitchen/files/as-seen/greatist.svg" class="greatist lazyloaded" decoding="async" src="https://cdn-aboak.nitrocdn.com/QJsLnWfsWAiuukSIMowyVEHtotvSQZoR/assets/images/optimized/rev-c4fcaa8/www.slenderkitchen.com/sites/default/themes/open_kitchen/files/as-seen/greatist.svg" />
    </li> <li>
      <img width="61" height="20" alt="SELF" nitro-lazy-src="https://cdn-aboak.nitrocdn.com/QJsLnWfsWAiuukSIMowyVEHtotvSQZoR/assets/images/optimized/rev-c4fcaa8/www.slenderkitchen.com/sites/default/themes/open_kitchen/files/as-seen/self.svg" class="self lazyloaded" decoding="async" src="https://cdn-aboak.nitrocdn.com/QJsLnWfsWAiuukSIMowyVEHtotvSQZoR/assets/images/optimized/rev-c4fcaa8/www.slenderkitchen.com/sites/default/themes/open_kitchen/files/as-seen/self.svg" />
    </li> <li>
      <img width="121" height="22" alt="USA Today" nitro-lazy-src="https://cdn-aboak.nitrocdn.com/QJsLnWfsWAiuukSIMowyVEHtotvSQZoR/assets/images/optimized/rev-c4fcaa8/www.slenderkitchen.com/sites/default/themes/open_kitchen/files/as-seen/usatoday.svg" class="usatoday lazyloaded" decoding="async" src="https://cdn-aboak.nitrocdn.com/QJsLnWfsWAiuukSIMowyVEHtotvSQZoR/assets/images/optimized/rev-c4fcaa8/www.slenderkitchen.com/sites/default/themes/open_kitchen/files/as-seen/usatoday.svg" />
    </li> <li>
      <img width="128" height="16" alt="HUFFPOST" nitro-lazy-src="https://cdn-aboak.nitrocdn.com/QJsLnWfsWAiuukSIMowyVEHtotvSQZoR/assets/images/optimized/rev-c4fcaa8/www.slenderkitchen.com/sites/default/themes/open_kitchen/files/as-seen/huffpost.svg" class="huffpost lazyloaded" decoding="async" src="https://cdn-aboak.nitrocdn.com/QJsLnWfsWAiuukSIMowyVEHtotvSQZoR/assets/images/optimized/rev-c4fcaa8/www.slenderkitchen.com/sites/default/themes/open_kitchen/files/as-seen/huffpost.svg" />
    </li>
  </ul>
  <div class="bottom-part">
      <p>© 2021 Slender Kitchen. All Rights Reserved.</p>
      <p>Privacy Policy</p>
      <p>Terms of Service</p>
  </div>
</footer>
<style>
  footer {
    width: 100%;
    padding: 50px 100px;
    background-color: #333;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
  }
  footer .bottom-part {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    color: #999;
  }
</style>
