@import "../../../assets/styles/settings";

.heading-wrapper {
    b {
        display: inline-block;
        position: relative;
        font-weight: 500;

        img {
            position: absolute;
            right: -25px;
            top: -15px;
        }
    }
}
