%btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
}

%link-style {
    text-decoration: none;
    color: snow;
    padding: 10px 20px;
    display: inline-block;
}
