@use "./resets";
@import "./samples";

$warning: #ff6600;
$warning-t: #ff660050;
$dark: #141414;
$dark-lighter: #202020;
$dark-darker: #0a0a0a;
$black: #0a0a0a;
$success: #00cc00;
$light: #f4f4f4;

$large-screen: 1100px;
$medium-screen: 855px;
$small-screen: 600px;

%link {
    @extend %link-style;
}

%warning-btn {
    @extend %btn;
    padding: 10px 35px;
    background-color: $warning-t;
    border: 2px solid $warning;
    color: snow;
    border-radius: 0;
    box-shadow:
        2px 2px 15px $warning-t,
        -2px -2px 15px $warning-t,
        inset 2px 2px 15px $warning-t,
        inset -2px -2px 15px $warning-t;

    &:hover {
        background-color: darken(black, 10%);
        box-shadow:
            2px 2px 15px $warning,
            -2px -2px 15px $warning,
            inset 2px 2px 15px $warning,
            inset -2px -2px 15px $warning;
        transform: scale(0.95);
    }
    &:active {
        transform: scale(0.8);
    }
}
